<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Group 4
  ID: 
    Nguyen Thanh Tung - s3979425
    Nguyen The Vinh - s3979366
    Nguyen Ba Lam Quang Thai - s3975154
    Nguyen Nghia Hiep - s3978270
    Dang Trung Kien - s3979510
  Acknowledgement: ChatGPT, GoogleFonts, BoxIcon, Bootstrap -->
<%- include('partials/global_header.ejs') %>

    <!-- Details Product -->
    <section class="product-detaills-section p-5">
        <div class="product-img-container">
            <div class="big-img">
                <img class="rounded-3" src="/images/upload_vendor/<%= product.image_url %>" alt="cloth">
            </div>
        </div>
        <div class="product-info-container-details">
            <div class="product-title">
                <p class="fs-2 fw-medium"><%= product.name %></p>
                <p><i class="fa-solid fa-star"></i> <%= product.stock %></p>
            </div>
            <p class="product-original fst-italic fw-light m-0"><%= product.material %></p>
            <p class="product-purpose fst-italic fw-light"><%= product.season %></p>
            <p class="product-price fw-bold">$<%= product.price %>/m</p>
            <div>
                <div class="product-size-title">
                    <p class="fs-5">Select Size</p>
                    <p class="fs-5 fw-light">Meter Unit</p>
                </div>
                <div class="product-size text-center">
                    <form action="/cart" method="post">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" name="radioBtn" id="radioBtn" value="10" checked>
                            <label class="form-check-label" for="radioBtn">
                              10M
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" name="radioBtn" id="radioBtn" value="15">
                            <label class="form-check-label" for="radioBtn">
                              15M
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" name="radioBtn" id="radioBtn" value="20">
                            <label class="form-check-label" for="radioBtn">
                              20M
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" name="radioBtn" id="radioBtn" value="25">
                            <label class="form-check-label" for="radioBtn">
                              25M
                            </label>
                          </div>
                          <div class="container-add-to-bag-button">
                            <button class="add-to-bag-button py-3 rounded-5 my-3" type="submit">Add to Shopping Cart</button>
                        </div>
                    </form>
                    
                    <!-- <button class="season-button rounded-2 px-3 py-2" id="size-Button" value="10">10M</button>
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button" value="15">15M</button>
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button" value="20">20M</button>
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button" value="25">25M</button>
                    <button class="season-button rounded-2 px-3 py-2" id="size-Button" value="30">30M</button> -->
                </div>
            </div>

            <p class="product-description">
                Fabric is a versatile and essential material in the world of textiles, known for its wide range of
                colors, textures, and patterns. It serves as the fundamental building block for countless items we
                encounter in our daily lives, from clothing and upholstery to accessories and household linens.</p>
        </div>

    </section>
    <script src="/script/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <%- include('partials/global_footer.ejs') %>